.male-user-icon,
.settings-icon {
  height: 51px;
  width: 65px;
  position: relative;
  object-fit: cover;
  min-height: 51px;
}
.male-user-parent {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-22xl) 0 var(--padding-21xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.accounts {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accounts-wrapper {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.sharing {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.sharing-wrapper {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.settings {
  width: 64px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frame-parent2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-footer,
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-22xl) 0 var(--padding-15xl);
}
.frame-footer {
  height: 70px;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.share-icon {
  height: 55px;
  width: 55px;
  position: relative;
  object-fit: cover;
}
.share {
  height: 51px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
